$pink:#e881a7;
$black:rgb(105, 105, 105);
$time-color:orange;

/* text btn */
.text-btn{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway','Helvetica', 'roboto', arial, sans-serif;
    letter-spacing: 0;
    text-decoration: none;
    color: #484848;
}

.text-btn.text-btn--primary{
    color: orange;
}

.text-btn.text-btn--lg{
    font-size: 20px;
    line-height: 48px;
    height: 48px;
    font-weight: 900;
}

.text-btn.text-btn--lg::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: orange;
    transition: all 0.3s;
}

.text-btn.text-btn--lg:hover::before{
    width: 100%;
}

/* image
---------------------*/
.image{
    width: 100%;
    display: block;
}

/* imgbox
---------------------*/
.imgbox{
    //width: 100%;
    overflow: hidden;
    border: 1px solid black;
}

.imgbox__inner{
    //width: 100%;
    padding-top: 100%;
    position: relative;
}
.imgbox__inner.imgbox__inner--4-3{
    padding-top: calc(100% * 3 / 4);
}
.imgbox__inner .image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* Home section */
/* background 
---------------------*/
.bg{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.imgur.com/HOrTENL.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:gray; //linear-gradient(60deg,#262627,#78d2fc);
        opacity: 0.4;
    }
}

.hero{
    /* border: 1px solid black; */
    padding: 20vh 0;
    position: relative;

}
@media (max-width:480px) {
    .hero{
        padding: 80px 0;
    }
}
.hero__heading{
    font-size: 90px;
    font-weight: 900;
    color: white;
   
}
@media (max-width:768px) {
    .hero__heading{
        font-size: 48px;
    }
}
.hero__bg{
    /* border: 1px solid blue; */
    position: absolute;
    top: 100px;
    left: 70%;
    transform: translate(-50%);
    max-width: 1140px;
    width: 60%;
    height: 80%;
    background-image: url("https://i.imgur.com/IXNkt04.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  right;
    //opacity: 0.75;
    border-radius: 30%;
    z-index: -1;
}
@media (max-width:768px) {
    .hero__bg{
        
        background-position: top right;
    }
}
@media (max-width:480px) {
    .hero{
        overflow: hidden;
    }
    .hero__bg{
        background-size: 300px;
        left: 90%;
       
    }
}

/*-------------------------*/
/* $Quote
---------------------------*/
.quote{
    /* background-color: #fefefe; */
    padding: 80px 0;
}
@media (max-width:768px){
    .quote{
        padding: 40px 0;
    }
}
.quote__content{
    text-align: center;
}
.quote__icon{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: orange;
    text-align: center;
    line-height: 64px;
    font-size: 32px;
    color: white;
    margin: 0 auto;
    margin-bottom: 24px;
}

.quote__text{
    font-size: 18px;
    line-height: 40px;
    color: black;
    margin-bottom: 24px;
    
}
.quote__name{
    font-size: 18px;
    line-height: 40px;
    color: black;
}
.quote__name span{
    color: orange;
}


/* lean-bg
---------------------*/
.lean-bg--bottom{
    position: relative;
}

.lean-bg--top{
    margin-top: 50rem;
    position: relative;
}
.lean-bg--top::before,
.lean-bg--bottom::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 180px;
    background-color: white;
   
    
}
@media (max-width:768px){
    .lean-bg--top::before,
    .lean-bg--bottom::after{
        height: 80px;
    }
}
.lean-bg--top::before{
    top: 0;
    transform: skewY(-5deg) translateY(-50%);
}
.lean-bg--bottom::after{
    bottom: 0;
    transform: skewY(-5deg) translateY(50%);
}

.lean-bg--top{
    margin-top: 160px;
}
@media (max-width:768px){
    .lean-bg--top{
        margin-top: 80px;
    }
}

.lean-bg--bottom{
    margin-bottom: 160px;
}
@media (max-width:768px){
    .lean-bg--bottom{
        margin-bottom: 80px;
    }
}

.lean-bg--no-margin{
    margin: 0;
}

/*-------------------------*/
/* $Skill
---------------------------*/

.skill{
    padding: 80px 0;
}
@media (max-width:768px){
    .skill{
        padding: 40px 0;
    }
}
.skill-group{
    padding: 80px 0;
    
}
.skill-card{
    /* border: 1px solid black; */
    padding-left: 32px;
    margin-bottom: 32px;
}
.skill-card__inner{
    background-color: #fefefe;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    padding: 24px;
    padding-left: 48px;
}
.skill-card__title{
    color: orange;
    font-family: 'Raleway','Helvetica', 'roboto', arial, sans-serif;
    margin-top: 0;
    margin-bottom: 8px;
}
.skill-card__text{
    margin: 0;
}
.skill-card__icon{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: white;
}

.skill-card__icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 60%;
    max-height: 60%;
}
@media (max-width:768px){
    .skill-card__icon{
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .skill-card{
        padding: 0;
        margin-top: 48px;
    }
    .skill-card__inner{
        padding: 24px;
        padding-top: 48px;
    }
    .skill-group{
        padding-bottom: 0;
    }
}


/*-------------------------*/
/* $Achievements
---------------------------*/
.achievements{
    padding: 80px 0;
}
@media (max-width:768px){
    .achievements{
        padding: 40px 0;
    }
}
/* timeline 
----------------------------*/
.timeline-group{
    /* border: 1px solid black; */
    max-width: 960px;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}
.timeline{
    width: 4px;
    height: 100%;
    background-color: $time-color;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);

}
.timeline-cards__row:nth-child(odd){
    display: flex;
    justify-content: flex-start;
    .timeline-card__title{
        margin-left: 300px;
    }
    .timeline-card__long-title{
        margin-left: 200px;
    }
}

.timeline-cards__row:nth-child(even){
    display: flex;
    justify-content: flex-end;
}
.timeline-card{
    padding: 24px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    width: calc(50% - 24px);
    border-radius: 4px;
    position: relative;
}
.timeline-card::before{
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $time-color;
    position: absolute;
    top: 50%;
    
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}
.timeline-cards__row:nth-child(odd) > ::before{
    right: -24px;
    transform: translate(50%,-50%);
}
.timeline-cards__row:nth-child(even) > ::before{
    left: -24px;
    transform: translate(-50%,-50%);
}


$timeline-card-map: "title","long-title";
@each $key in $timeline-card-map {
    .timeline-card__#{$key}{
        font-size: 2rem;
    }
}
// .timeline-card__title{
//     font-size: 2rem;
// }

.timeline-card__text{
    margin: 0;
}
@media (min-width:770px) and (max-width:991px){
    .timeline-cards__row:nth-child(odd){
        .timeline-card__title{
            margin-left: 180px;
        }
        .timeline-card__long-title{
            margin-left: 80px;
        }
    }
}
@media (max-width:768px){
    .timeline{
        left: 0;
    }
    .timeline-card{
        width: calc(100% - 24px);
        margin-bottom: 24px;
    }
    .timeline-cards__row:nth-child(odd){
        justify-content: flex-end;
        .timeline-card__title{
            margin-left: 0rem;
        }
        .timeline-card__long-title{
            margin-left: 0rem;
        }
    }
    .timeline-cards__row:nth-child(odd) > ::before{
        left: -24px;
        transform: translate(-50%,-50%);
    }
    .timeline-cards__row:last-child .timeline-card{
        margin-bottom:0;
    }
}

/*-------------------------*/
/* $Work
---------------------------*/
.work{
    padding: 80px 0 120px 0;

}
@media (max-width:768px){
    .work{
        padding: 40px,0;
    }
}
/* work-list
---------------------*/
.work-list{
    padding-top: 80px;
}
.work-item{
    margin-bottom: 160px;
}
.work-item__text{
    padding-top: 24px;
}
.work-item__text--right{
    text-align: right;
}
.work-item__title{
    font-size: 40px;
    font-family: 'Raleway','Helvetica', 'roboto', arial, sans-serif;
    color: #484848;
}
.work-item__title--right{
    margin-right: -80px;
}
.work-item__title--left{
    margin-left: -80px;
}
.work-item__intro{
    font-size: 16px;
    line-height: 32px;
}
@media (max-width:768px){
    .work-item{
        margin-bottom: 48px;
    }
    .work-item__title{
        font-size: 24px;
        line-height: 32px;
        margin-top: 0;
        margin-bottom: 8px;
    }
    .work-item__text--right{
        text-align: left;
    }
    .work-item__title--right{
        margin-right: 0;
    }
    .work-item__title--left{
        margin-left: 0;
    }
}



