@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
$pink:#e881a7;
$black:rgb(105, 105, 105);
html,
body {
    // margin: 0;
    // padding: 0;
    // box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    // font-size: 62.5%;
    // font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.my_nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 2;
}

.my_nav div.my_logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.my_nav div.my_logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.my_nav div.my_logo a:hover {
    color: #00E676;
}

.my_nav div.main_list {
    height: 65px;
    float: right;
}

.my_nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.my_nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.my_nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.my_nav div.main_list ul li a:hover {
    //background-color: rgb(0, 140, 255);
    color: #00E676;
}


/* Home section */
.bg{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.imgur.com/HOrTENL.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:gray; //linear-gradient(60deg,#262627,#78d2fc);
        opacity: 0.6;
    }
}

.hero{
    /* border: 1px solid black; */
    padding: 20vh 0;
    position: relative;

}
@media (max-width:480px) {
    .hero{
        padding: 80px 0;
    }
}
.hero__heading{
    font-size: 90px;
    font-weight: 900;
    color: white;
   
}
@media (max-width:768px) {
    .hero__heading{
        font-size: 48px;
    }
}
.hero__bg{
    /* border: 1px solid blue; */
    position: absolute;
    top: 100px;
    left: 70%;
    transform: translate(-50%);
    max-width: 1140px;
    width: 60%;
    height: 80%;
    background-image: url("https://i.imgur.com/IXNkt04.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  right;
    //opacity: 0.75;
    border-radius: 30%;
    z-index: -1;
}
@media (max-width:768px) {
    .hero__bg{
        
        background-position: top right;
    }
}
@media (max-width:480px) {
    .hero{
        overflow: hidden;
    }
    .hero__bg{
        background-size: 300px;
        left: 90%;
       
    }
}

/*-------------------------*/
/* $Quote
---------------------------*/
.quote{
    /* background-color: #fefefe; */
    padding: 80px 0;
}
@media (max-width:768px){
    .quote{
        padding: 40px 0;
    }
}
.quote__content{
    text-align: center;
}
.quote__icon{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $black;
    text-align: center;
    line-height: 64px;
    font-size: 32px;
    color: white;
    margin: 0 auto;
    margin-bottom: 24px;
}

.quote__text{
    font-size: 18px;
    line-height: 40px;
    color: black;
    margin-bottom: 24px;
    
}
.quote__name{
    font-size: 18px;
    line-height: 40px;
    color: black;
}
.quote__name span{
    color: $black;
}


/* lean-bg
---------------------*/
.lean-bg--bottom{
    position: relative;
}

.lean-bg--top{
    margin-top: 50rem;
    position: relative;
}
.lean-bg--top::before,
.lean-bg--bottom::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 180px;
    background-color: white;
   
    
}
@media (max-width:768px){
    .lean-bg--top::before,
    .lean-bg--bottom::after{
        height: 80px;
    }
}
.lean-bg--top::before{
    top: 0;
    transform: skewY(-5deg) translateY(-50%);
}
.lean-bg--bottom::after{
    bottom: 0;
    transform: skewY(-5deg) translateY(50%);
}

.lean-bg--top{
    margin-top: 160px;
}
@media (max-width:768px){
    .lean-bg--top{
        margin-top: 80px;
    }
}

.lean-bg--bottom{
    margin-bottom: 160px;
}
@media (max-width:768px){
    .lean-bg--bottom{
        margin-bottom: 80px;
    }
}

.lean-bg--no-margin{
    margin: 0;
}

/*-------------------------*/
/* $Skill
---------------------------*/

.skill{
    padding: 80px 0;
}
@media (max-width:768px){
    .skill{
        padding: 40px 0;
    }
}
.skill-group{
    padding: 80px 0;
    
}
.skill-card{
    /* border: 1px solid black; */
    padding-left: 32px;
    margin-bottom: 32px;
}
.skill-card__inner{
    background-color: #fefefe;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    padding: 24px;
    padding-left: 48px;
}
.skill-card__title{
    color: orange;
    font-family: 'Raleway','Helvetica', 'roboto', arial, sans-serif;
    margin-top: 0;
    margin-bottom: 8px;
}
.skill-card__text{
    margin: 0;
}
.skill-card__icon{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: white;
}

.skill-card__icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 60%;
    max-height: 60%;
}
@media (max-width:768px){
    .skill-card__icon{
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .skill-card{
        padding: 0;
        margin-top: 48px;
    }
    .skill-card__inner{
        padding: 24px;
        padding-top: 48px;
    }
    .skill-group{
        padding-bottom: 0;
    }
}


.navTrigger {
    display: none;
}

.my_nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .my_container {
        margin: 0;
        
    }
}

@media screen and (max-width:1070px) {

    .navTrigger {
        display: block;
        
    }

    .my_nav div.my_logo {
        margin-left: 15px;
    }
    .my_nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;

        transition: all 0.4s ease !important;
    }
    .my_nav div.show_list {
        height: auto;
        // display: none;
    }

    .my_nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .my_nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .my_nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .my_nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}






.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}